//margin:0 auto; centering the input field within the div
/*display: block; the input fields are stacked ontop of each other*/

.login-input {
    
    background-color: white;
    border-radius: 4px;
  
    display: block;
    width: 330px;
    padding: 8px 15px;
    padding-bottom: 10px;
    border: 1px solid gray;
    font-size: 16px;
    font-weight: 400;
    margin:0 auto;
    margin-bottom: 10px;
}

.login-container{
  margin-top: 80px;
    width: 360px;
    //text-align:center;
    background-color: #363344;
    padding: 10px 30px 20px 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}

.login-btn{
  background-color: #bc5340;
  ;
  color: white;
  width: 90px;
  text-align: center;
  margin-right: 10px;

  padding: 10px 10px;
  //margin: 8px 0;
  margin-top: 10px;
  font-size: 12pt;
  border: none;
  transition-duration: 0.3s;
  border-radius: 3px;

}

.login-btn:hover{
  background-color: #c1c1bf;
  cursor: pointer;
}

.login-bg{
  background-size: cover;

  background-color: #BC5340;
  min-height: 100%;
    min-width: 1024px;
    

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    position: fixed;

}

