.evolution-list{
    font-size: 8px;
    font-family: '11-bit';
    text-align: center;
}

.evolution{
    padding: 6px;
}

.evolution-image{
    height: 50px;
    width: auto;
    padding: 6px;
    //display: block;
  margin-left: auto;
  margin-right: auto;
}

.enames{
    text-align: center;
}

.allitems{
    //display:inline-block;
    text-align:center ;
    display: block;
  margin-left: auto;
  margin-right:auto;
}

.eitem {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    //width: 120px;
    padding: 6px;
    
}
.eimg {
    height: 50px;
    width: auto;
    float: left;
  margin-left: auto;
  margin-right: auto;
}

.eimg:hover{
    background-color: grey
}
.enames {
    display: block;
    font-size: 8px;
    font-family: '11-bit';
    text-align: center;
}