// have the entire pokedex centered on the screen
.pokedex{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    height: 450px;
    width: 400px;
    margin-top: 10px;
    //padding: 10px;
}

.left{
    float: left;
    background-color: red;
    width: 200px;
    height: 450px;
}

// give the list of pokemon a grid layout, have the list on the left side
.pokelist {
    display: grid;
    grid-template-columns: repeat(2, 95px);
    //float: left;
    //border: 3px solid red;
    width: 190px;
    height: 400px;
    background-color: white;
}

.controls {
    //float: left;
    //display: in-line-block;
    height: 60px;
    width: 190px;
}

// put the viewport on the right side
.pokemonview{
    float: right;
    height: 400px;
    width: 190px;
    border: 3px solid green;
    background-color: #FEF9DC;
    
}