.img{
    width: 100px;
    height: auto;
    //border: 3px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name{
    position: relative;
    top: 20px;
    vertical-align:bottom;
    text-align: center;

}