.pokedex{
    position: relative;
    margin: auto;
    top: 20px;
    width: 450px;
}

.pokedex-header{
    height: 40px;
    width: 230px;
    background-color: #D75745;
    border-radius: 10px 10px 0px 0px;
}

.pokedex-body{
    height: 400px;
    width: 450px;
    background-color: #CA4B38;
    border-radius: 0px 10px 10px 10px;
}

.bluedot{

}

.left-side{
    position: relative;
    top: 14px;
    left: 14px;
    float: left;
}

.pokelist {
    display: grid;
    grid-template-columns: repeat(2, 95px);
    width: 190px;
    background-color: white;
    border-radius: 5px;
}

.controls {
    height: 60px;
    width: 190px;
}


.right-side{
    position: relative;
    top: 14px;
    right: 14px;
    float: right;
    height: 372px;
    width: 190px;
    background-color: #FEF9DC;
    border-radius: 5px;
} 