@font-face {
    font-family: '8-bit';
    src: url('../fonts/slkscr.ttf');  
}

@font-face {
  font-family: '9-bit';
  src: url('../fonts/8-bit.ttf');
}

@font-face {
  font-family: '10-bit';
  src: url(`../fonts/osa.ttf`);
}

@font-face{
  font-family: '11-bit';
  src: url('../fonts/Pixel-Miners.otf');
}


.selected-pokemon{
    .poke-img{
        width: 100px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .name{
        position: relative;
        top: 20px;
        vertical-align:bottom;
        text-align: center;
        font-size: 10pt;
        font-family: '8-bit';
        
    }
}

.loader,
.loader:before,
.loader:after {
  background: #ca4b38;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ca4b38;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}