.green{
    background-color: green
}

.red{
    
    
}

.popup-container{
    background-color: pink;
    opacity: 0.8;
    width: 480px;
    color: red;
    //height: 40px;
    border-radius: 4px;
    //margin:0 auto;
    margin-left: -20%;

    border: 1px solid red;
    padding-top: 12px;
    padding-bottom: 12px;
}

.color{
    
}

.txt{

}