

.popup-container{
        
        opacity: 0.6;
        width: 480px;
        
        //height: 40px;
        border-radius: 6px;
        //margin:0 auto;
        margin-left: -17%;
    
        
        padding-top: 12px;
        padding-bottom: 12px;
}

.popup-container.red{
    background-color: pink;
    color: red;
    border: 1px solid red;
}

.popup-container.green{
    background-color: #Aff7A2;
    color: green;
    border: 1px solid green;
}