.navbar {
  text-align: center;
  list-style-position: inside;
}

.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.bg{
  background-image: url("./assets/images/background_image.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
}
